<form (ngSubmit)="submitForm($event);" novalidate>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{'command.RegisterUserViaEmail.title' | translate}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="email">{{'command.RegisterUserViaEmail.email' | translate}}</label>
      <input #fieldError
             id="email"
             type="email"
             name="email"
             [(ngModel)]="command.email"
             class="form-control"
             required="required"
      />
    </div>
    <div class="form-group">
      <label for="confirmEmail">{{'command.RegisterUserViaEmail.confirmEmail' | translate}}</label>
      <input #fieldError
             id="confirmEmail"
             name="confirmEmail"
             type="email"
             [(ngModel)]="command.confirmEmail"
             class="form-control"
             required="required"
      />
    </div>
    <div class="form-group">
      <label for="password">{{'command.RegisterUserViaEmail.password' | translate}}</label>
      <input #fieldError
             id="password"
             type="password"
             name="password"
             [(ngModel)]="command.password"
             class="form-control"
             required="required"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">{{'command.RegisterUserViaEmail.confirmPassword' | translate}}</label>
      <input #fieldError
             id="confirmPassword"
             name="confirmPassword"
             type="password"
             [(ngModel)]="command.confirmPassword"
             class="form-control"
             required="required"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="close()">Close
    </button>
    <button type="submit"
            ng-disabled="submit.$invalid"
            class="btn btn-primary">Submit
    </button>
  </div>
</form>


