<h3 class="popover-title popover-header">{{'cart.title' | translate}}</h3>
<div class="popover-content popover-body" *ngIf="products">
  <div class="product" *ngFor="let product of products">
    <div class="col-12">
      {{product.title['EN']}}
    </div>
    <div class="col-12">
      {{product.price['EUR']}}€
      <fa name="times"></fa>
      {{cartService.cart.amounts[product.id]}} = {{product.price['EUR'] * cartService.cart.amounts[product.id]}}€

      <div class="input-group">
        <input class="form-control"
               type="number"
               min="1"
               [(ngModel)]="cartService.cart.amounts[product.id]"
               (change)="updateCart(cartService.cart)"/>
        <button type="button"
                class="btn btn-danger"
                (click)="deleteProduct(cartService.cart, product)">
          <fa name="trash"></fa>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="popover-footer">
  <button type="button" [routerLink]="['/checkout']" class="btn btn-success">{{'cart.checkout' | translate}}</button>
</div>
