<div class="container">
  <div class="row col-12">
    <app-address-card class="col-lg-4 col-md-6 col-sm-12"
                      *ngFor="let address of addresses"
                      [address]="address"
                      [selectable]="false"
                      (deleteAddressEvent)="onAddressDeleted($event)">
    </app-address-card>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            {{'address.addDescription' | translate}}
          </div>
        </div>
        <div class="card-footer">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <button type="button" class="btn btn-success" (click)="addNewAddress()">
              <fa name="plus"></fa>
              {{'address.add' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
