<div class="background"
     [style.backgroundImage]="'url(http://localhost:8080/api/public/file/background_blur.jpg)'">
  <div class="container">
    <div class="row col-12">
      <app-checkout-address class="col-lg-4 col-md-6 col-sm-12"
                        *ngFor="let address of addresses"
                        [address]="address"
                        (deleteAddressEvent)="onAddressDeleted($event)">
      </app-checkout-address>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <button type="button" class="btn btn-success" (click)="addNewAddress()">{{'address.add' | translate}}</button>
      </div>
    </div>

  </div>
</div>
