<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ (address.id? 'address.edit':'address.add') | translate}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body row">
  <div class="col-12">
    <label>{{"address.addressLine1" | translate}}: </label>
    <input type="text" [(ngModel)]="address.addressLine1" class="form-control"/>
  </div>
  <div class="col-12">
    <label>{{"address.addressLine2" | translate}}: </label>
    <input type="text" [(ngModel)]="address.addressLine2" class="form-control"/>
  </div>
  <div class="col-6">
    <label>{{"address.postalCode" | translate}}: </label>
    <input type="text" [(ngModel)]="address.postalCode" class="form-control"/>
  </div>
  <div class="col-6">
    <label>{{"address.city" | translate}}: </label>
    <input type="text" [(ngModel)]="address.city" class="form-control"/>
  </div>
  <div class="col-12">
    <label>{{"address.country" | translate}}: </label>
    <select [(ngModel)]="address.country"
            class="form-control" id="sel1">
      <option *ngFor="let country of countries" value="{{country}}">{{"country."+ country | translate}}</option>
    </select>
  </div>
  <div class="col-12">
    <label>{{"address.phone" | translate}}: </label>
    <input type="text" [(ngModel)]="address.phone" class="form-control"/>
  </div>
  <div class="col-12">
    <label>{{"address.comment" | translate}}: </label>
    <input type="text" [(ngModel)]="address.comment" class="form-control"/>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-danger"
          (click)="delete()"><fa name="trash"></fa>{{"address.delete" | translate}}
  </button>
  <button type="button"
          class="btn btn-secondary"
          (click)="close()"><fa name="times"></fa>{{"address.cancel" | translate}}
  </button>
  <button type="button"
          ng-disabled="submit.$invalid"
          class="btn btn-success"
          (click)="submit()"><fa name="save"></fa>{{"address.save" | translate}}
  </button>
</div>


