
body {
  padding-top: 54px;
  height: 100%;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.popover > .popover-content {
  display: contents;
}

html {
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: grid;
  padding: 0px;
  margin: 0px;
  position: fixed;
  overflow-y: auto;
}

.container-fluid {
  width: 100%;
  height: 100%;
  display: grid;

}

.center {
  margin: auto auto;
}
