
<div class="card-body">
  <div class="row">
    <b>{{"address.addressLine1" | translate}}: </b>
    {{ address.addressLine1 }}
  </div>
  <div class="row">
    <b>{{"address.addressLine2" | translate}}: </b>
    {{ address.addressLine2 }}
  </div>
  <div class="row">
    <b>{{"address.postalCode" | translate}}: </b>
    {{ address.postalCode }}
  </div>
  <div class="row">
    <b>{{"address.city" | translate}}: </b>
    {{ address.city }}
  </div>
  <div class="row">
    <b>{{"address.country" | translate}}: </b>
    {{"country." + address.country | translate }}
  </div>
  <div class="row">
    <b>{{"address.phone" | translate}}: </b>
    {{ address.phone }}
  </div>
  <div class="row">
    <b>{{"address.comment" | translate}}: </b>
    {{ address.comment }}
  </div>
</div>
