<form (ngSubmit)="submitForm($event)" novalidate class="col-md-4 mb-3">
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email"
           type="email"
           name="email"
           [(ngModel)]="command.email"
           class="form-control"/>
    <div *ngIf="errors.email">
      {{errors.email}}
    </div>
  </div>
  <div class="form-group">
    <label for="confirmEmail">Confirm email:</label>
    <input id="confirmEmail"
           name="confirmEmail"
           type="email"
           [(ngModel)]="command.confirmEmail"
           class="form-control"/>
    <div *ngIf="errors.confirmEmail">
      {{errors.confirmEmail}}
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password"
           type="password"
           name="password"
           [(ngModel)]="command.password"
           class="form-control"/>
    <div *ngIf="errors.password">
      {{errors.password}}
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm password:</label>
    <input id="confirmPassword"
           name="confirmPassword"
           type="password"
           [(ngModel)]="command.confirmPassword"
           class="form-control"/>
    <div *ngIf="errors.confirmPassword">
      {{errors.confirmPassword}}
    </div>
  </div>
  <button type="submit"
          ng-disabled="submit.$invalid"
          class="btn btn-primary" >Submit</button>
</form>
